In [ ]:
import pandas as pd
pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,4/8/66,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,49,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,5/14/1965,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,50,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,8/12/65,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,50,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,2/15/1968,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,47,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,8/8/68,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,7/4/58,M,NaN,...,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,3/8/07,0-1 Miles,Europe,57,1
29480,248,AW00029480,NaN,Nina,W,Raji,0,11/10/60,S,NaN,...,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,1/18/2008,0-1 Miles,Europe,54,1
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1/5/60,S,NaN,...,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2/13/2006,0-1 Miles,Europe,55,1
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,3/5/59,M,NaN,...,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,3/22/2007,0-1 Miles,Europe,56,1
29483,217,AW00029483,NaN,JÂ‚sus,L,Navarro,0,12/8/59,M,NaN,...,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,3/13/2007,0-1 Miles,Europe,55,1

In [ ]:
data = pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")
print ( data.head() )
print ( " - - - - - - - - - - - - - - - - - - - - " )
print ( data.tail() )

             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   NaN        Jon          V
11001                  37           AW00011001   NaN     Eugene          L
11002                  31           AW00011002   NaN      Ruben        NaN
11003                  11           AW00011003   NaN    Christy        NaN
11004                  19           AW00011004   NaN  Elizabeth        NaN

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0     4/8/66             M    NaN  ...
11001          Huang          0  5/14/1965             S    NaN  ...
11002         Torres          0    8/12/65             M    NaN  ...
11003            Zhu          0  2/15/1968             S    NaN  ...
11004        Johnson          0     8/8/68             S    NaN  ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St           NaN
11001                    0               1           2243 W St.           NaN
11002                    1               1     5844 Linden Land           NaN
11003                    0               1     1825 Village Pl.           NaN
11004                    1               4  7553 Harness Circle           NaN

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11003        1 (11) 500 555-0162            7/1/05      5-10 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        49         1
11001        50         1
11002        50         1
11003        47         1
11004        47         1

[5 rows x 31 columns]
 - - - - - - - - - - - - - - - - - - - -
             GeographyKey CustomerAlternateKey Title FirstName MiddleName  \
CustomerKey
29479                 209           AW00029479   NaN     Tommy          L
29480                 248           AW00029480   NaN      Nina          W
29481                 120           AW00029481   NaN      Ivan        NaN
29482                 179           AW00029482   NaN   Clayton        NaN
29483                 217           AW00029483   NaN     JÂ‚sus          L

            LastName  NameStyle BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                     ...
29479           Tang          0    7/4/58             M    NaN  ...
29480           Raji          0  11/10/60             S    NaN  ...
29481           Suri          0    1/5/60             S    NaN  ...
29482          Zhang          0    3/5/59             M    NaN  ...
29483        Navarro          0   12/8/59             M    NaN  ...

            HouseOwnerFlag NumberCarsOwned               AddressLine1  \
CustomerKey
29479                    1               0          111, rue Maillard
29480                    1               0          9 Katherine Drive
29481                    0               0                Knaackstr 4
29482                    1               0     1080, quai de Grenelle
29483                    1               0  244, rue de la Centenaire

             AddressLine2                Phone DateFirstPurchase  \
CustomerKey
29479                 NaN  1 (11) 500 555-0136            3/8/07
29480                 NaN  1 (11) 500 555-0146         1/18/2008
29481                 NaN  1 (11) 500 555-0144         2/13/2006
29482                 NaN  1 (11) 500 555-0137         3/22/2007
29483                 NaN  1 (11) 500 555-0141         3/13/2007

            CommuteDistance  Region Age BikeBuyer
CustomerKey
29479             0-1 Miles  Europe  57         1
29480             0-1 Miles  Europe  54         1
29481             0-1 Miles  Europe  55         1
29482             0-1 Miles  Europe  56         1
29483             0-1 Miles  Europe  55         1

[5 rows x 31 columns]

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

if 'BirthDate' in data.columns:
  data['BirthDate'] = pd.to_datetime(data['BirthDate']).dt.strftime('%m/%d/%Y')
print(data.BirthDate)

for index, row in data.iterrows():
  birthdate = pd.to_datetime(row['BirthDate'])
  if birthdate.year > 2024:
      birthdate_str = row['BirthDate'] #pasamos la columna
      year = int(birthdate_str[-4:]) #contamos solo el aÃ±o
      if year > 2024:
          new_year = year - 100
          new_birthdate_str = birthdate_str[:-4] + str(new_year)
          data.loc[index, 'BirthDate'] = new_birthdate_str
print(data.BirthDate)

for i, row in data.iterrows():
  birthdate = pd.to_datetime(row['BirthDate'])
  birthdate_str = row['BirthDate']
  birthyear = int(birthdate_str[-4:])
  updateAge = 2024 - birthyear
  data.loc[i, 'Age'] = updateAge
print(data.Age)

#imputer = SimpleImputer(missing_values = np.nan , strategy = 'constant', fill_value = 'None')
#imputer.fit_transform(data)
data = data.fillna(' None ')

data = data.drop_duplicates()
print(f"NÃºmero de registros duplicados eliminados: {data.duplicated().sum()}")

for i, row in data.iterrows():
  birthdate_str = str(row['BirthDate'])
  birthmonth = (birthdate_str[:2])
  birthday = (birthdate_str[3:5])
  birthyear = (birthdate_str[-4:])
  data.loc[i, 'BirthDateDay'] = birthday
  data.loc[i, 'BirthDateMonth'] = birthmonth
  data.loc[i, 'BirthDateYear'] = birthyear

data.drop(['BirthDate'] , axis = 'columns')

Q1 = np.quantile(data['Age'], 0.25)
Q3 = np.quantile(data['Age'], 0.75)
IQR = Q3 - Q1
k = 1.5
xL = Q1 - k * IQR
xU = Q3 + k * IQR
print(f"Bandas: [{xL},{xU}]")
for i in data['Age']:
    if i < xL  or i > xU:
        print(f" El dato[{i}] es un outlier")
        data = data.drop(data[data['Age'] == i].index)

bins = [40, 61, 81, 100] #nÃºmero de veces que vamos a partir los datos
labels = ['40-60', '61-80', '81+']

data['AgeCategory'] = pd.cut(data['Age'], bins=bins, labels=labels, include_lowest=True)

#print(data[['Age', 'AgeCategory']])

<ipython-input-3-606f7cff6f65>:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['BirthDate'] = pd.to_datetime(data['BirthDate']).dt.strftime('%m/%d/%Y')

CustomerKey
11000    04/08/2066
11001    05/14/1965
11002    08/12/2065
11003    02/15/1968
11004    08/08/2068
            ...
29479    07/04/2058
29480    11/10/2060
29481    01/05/2060
29482    03/05/2059
29483    12/08/2059
Name: BirthDate, Length: 18484, dtype: object
CustomerKey
11000    04/08/1966
11001    05/14/1965
11002    08/12/1965
11003    02/15/1968
11004    08/08/1968
            ...
29479    07/04/1958
29480    11/10/1960
29481    01/05/1960
29482    03/05/1959
29483    12/08/1959
Name: BirthDate, Length: 18484, dtype: object
CustomerKey
11000    58
11001    59
11002    59
11003    56
11004    56
         ..
29479    66
29480    64
29481    64
29482    65
29483    65
Name: Age, Length: 18484, dtype: int64
NÃºmero de registros duplicados eliminados: 0
Bandas: [30.0,94.0]
 El dato[98] es un outlier
 El dato[98] es un outlier
 El dato[100] es un outlier
 El dato[114] es un outlier
 El dato[98] es un outlier
 El dato[97] es un outlier
 El dato[96] es un outlier
 El dato[98] es un outlier
 El dato[100] es un outlier
 El dato[95] es un outlier
 El dato[2] es un outlier
 El dato[96] es un outlier
 El dato[100] es un outlier
 El dato[13] es un outlier
 El dato[112] es un outlier
 El dato[104] es un outlier
 El dato[104] es un outlier
 El dato[3] es un outlier
 El dato[8] es un outlier
 El dato[96] es un outlier
 El dato[11] es un outlier
 El dato[113] es un outlier
 El dato[111] es un outlier
 El dato[105] es un outlier
 El dato[102] es un outlier
 El dato[95] es un outlier
 El dato[1] es un outlier
 El dato[8] es un outlier
 El dato[95] es un outlier
 El dato[112] es un outlier
 El dato[96] es un outlier
 El dato[95] es un outlier
 El dato[96] es un outlier
 El dato[104] es un outlier
 El dato[98] es un outlier
 El dato[97] es un outlier
 El dato[97] es un outlier
 El dato[95] es un outlier
 El dato[95] es un outlier
 El dato[95] es un outlier
 El dato[102] es un outlier
 El dato[2] es un outlier
 El dato[97] es un outlier
 El dato[99] es un outlier
 El dato[96] es un outlier
 El dato[95] es un outlier
 El dato[107] es un outlier
 El dato[95] es un outlier
 El dato[2] es un outlier
 El dato[1] es un outlier
 El dato[96] es un outlier
 El dato[3] es un outlier
 El dato[0] es un outlier
 El dato[5] es un outlier
 El dato[97] es un outlier
 El dato[95] es un outlier
 El dato[97] es un outlier
 El dato[8] es un outlier
 El dato[99] es un outlier
 El dato[106] es un outlier
 El dato[95] es un outlier
 El dato[5] es un outlier
 El dato[11] es un outlier
 El dato[99] es un outlier
 El dato[106] es un outlier
 El dato[99] es un outlier
 El dato[98] es un outlier
 El dato[96] es un outlier
 El dato[97] es un outlier
 El dato[97] es un outlier
 El dato[95] es un outlier
 El dato[98] es un outlier
 El dato[109] es un outlier
 El dato[95] es un outlier
 El dato[97] es un outlier

# ReducciÃ³n de dimensionalidad

selecciona que caracterÃ­sticas tienen una varianza en la que el 75 % de los registros tienen valores iguales.

In [ ]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold = 0.25) # Umbral de varianza para seleccionar caracteristicas
print(data.info())
newData = OrdinalEncoder().fit_transform(data[['Title','FirstName','MiddleName','LastName']])
sel = selector.fit(newData)
print(sel.get_support())

<class 'pandas.core.frame.DataFrame'>
Index: 18409 entries, 11000 to 29483
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GeographyKey          18409 non-null  int64
 1   CustomerAlternateKey  18409 non-null  object
 2   Title                 18409 non-null  object
 3   FirstName             18409 non-null  object
 4   MiddleName            18409 non-null  object
 5   LastName              18409 non-null  object
 6   NameStyle             18409 non-null  int64
 7   BirthDate             18409 non-null  object
 8   MaritalStatus         18409 non-null  object
 9   Suffix                18409 non-null  object
 10  Gender                18409 non-null  object
 11  EmailAddress          18409 non-null  object
 12  YearlyIncome          18409 non-null  int64
 13  TotalChildren         18409 non-null  int64
 14  NumberChildrenAtHome  18409 non-null  int64
 15  EnglishEducation      18409 non-null  object
 16  SpanishEducation      18409 non-null  object
 17  FrenchEducation       18409 non-null  object
 18  EnglishOccupation     18409 non-null  object
 19  SpanishOccupation     18409 non-null  object
 20  FrenchOccupation      18409 non-null  object
 21  HouseOwnerFlag        18409 non-null  int64
 22  NumberCarsOwned       18409 non-null  int64
 23  AddressLine1          18409 non-null  object
 24  AddressLine2          18409 non-null  object
 25  Phone                 18409 non-null  object
 26  DateFirstPurchase     18409 non-null  object
 27  CommuteDistance       18409 non-null  object
 28  Region                18409 non-null  object
 29  Age                   18409 non-null  int64
 30  BikeBuyer             18409 non-null  int64
 31  BirthDateDay          18409 non-null  object
 32  BirthDateMonth        18409 non-null  object
 33  BirthDateYear         18409 non-null  object
 34  AgeCategory           18409 non-null  category
dtypes: category(1), int64(9), object(25)
memory usage: 4.9+ MB
None
[False  True  True  True]

anÃ¡lisis de correlaciones, de manera que dos caracterÃ­sticas (columnas) que estÃ©n muy correladas no tienen que utilizarse conjuntamente

In [ ]:
from sklearn.preprocessing import Normalizer

newData = OrdinalEncoder().fit_transform(data[['EnglishOccupation','SpanishOccupation','FrenchOccupation']])
normalizedData = Normalizer().fit_transform(newData)
print(pd.DataFrame(normalizedData).corr(method = 'pearson'))

          0         1         2
0  1.000000  0.860305 -0.648330
1  0.860305  1.000000 -0.920568
2 -0.648330 -0.920568  1.000000

Como podemos ver en el anÃ¡lisis de la correlaciÃ³n anterior, los valores no son exactamente 1 o -1. Pues en el dataset hay un sesgo con las traducciones de la ocupaciÃ³n y la educaciÃ³n por lo que si miramos los datos, aunque estos sean iguales la correlaciÃ³n nos darÃ¡ un valor distinto por la traducciÃ³n. Podemos arreglar esto asignando una variable numÃ©rica a los valores que son iguales en traducciÃ³n.

In [ ]:
newEnglishOccupation = []
newSpanishOccupation = []
newFrenchOccupation = []

for i in data['EnglishOccupation']:
  if i == 'Clerical':
    newEnglishOccupation.append(1)
  elif i == 'Management':
    newEnglishOccupation.append(2)
  elif i == 'Manual':
    newEnglishOccupation.append(3)
  elif i == 'Professional':
    newEnglishOccupation.append(4)
  elif i == 'Skilled Manual':
    newEnglishOccupation.append(5)

for i in data['SpanishOccupation']:
  if i == 'Administrativo':
    newSpanishOccupation.append(1)
  elif i == 'Obrero':
    newSpanishOccupation.append(3)
  elif i == 'Profesional': #Cadre
    newSpanishOccupation.append(4)
  elif i == 'Obrero especializado': #Technicien
    newSpanishOccupation.append(5)
  else:
    newSpanishOccupation.append(2)

for i in data['FrenchOccupation']:
  if i == 'Direction':
    newFrenchOccupation.append(2)
  elif i == 'Ouvrier':
    newFrenchOccupation.append(3)
  elif i == 'Cadre':
    newFrenchOccupation.append(4)
  elif i == 'Technicien':
    newFrenchOccupation.append(5)
  else:
    newFrenchOccupation.append(1)

data['NewEnglishOccupation'] = newEnglishOccupation
data['NewSpanishOccupation'] = newSpanishOccupation
data['NewFrenchOccupation'] = newFrenchOccupation
data

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,Region,Age,BikeBuyer,BirthDateDay,BirthDateMonth,BirthDateYear,AgeCategory,NewEnglishOccupation,NewSpanishOccupation,NewFrenchOccupation
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,None,Jon,V,Yang,0,04/08/1966,M,None,...,Pacific,58,1,08,04,1966,40-60,4,4,4
11001,37,AW00011001,None,Eugene,L,Huang,0,05/14/1965,S,None,...,Pacific,59,1,14,05,1965,40-60,4,4,4
11002,31,AW00011002,None,Ruben,None,Torres,0,08/12/1965,M,None,...,Pacific,59,1,12,08,1965,40-60,4,4,4
11003,11,AW00011003,None,Christy,None,Zhu,0,02/15/1968,S,None,...,Pacific,56,1,15,02,1968,40-60,4,4,4
11004,19,AW00011004,None,Elizabeth,None,Johnson,0,08/08/1968,S,None,...,Pacific,56,1,08,08,1968,40-60,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,None,Tommy,L,Tang,0,07/04/1958,M,None,...,Europe,66,1,04,07,1958,61-80,1,1,1
29480,248,AW00029480,None,Nina,W,Raji,0,11/10/1960,S,None,...,Europe,64,1,10,11,1960,61-80,1,1,1
29481,120,AW00029481,None,Ivan,None,Suri,0,01/05/1960,S,None,...,Europe,64,1,05,01,1960,61-80,1,1,1
29482,179,AW00029482,None,Clayton,None,Zhang,0,03/05/1959,M,None,...,Europe,65,1,05,03,1959,61-80,1,1,1
29483,217,AW00029483,None,JÂ‚sus,L,Navarro,0,12/08/1959,M,None,...,Europe,65,1,08,12,1959,61-80,1,1,1

In [ ]:
newData1 = OrdinalEncoder().fit_transform(data[['NewEnglishOccupation','NewSpanishOccupation','NewFrenchOccupation']])
normalizedData = Normalizer().fit_transform(newData1)
print(pd.DataFrame(normalizedData).corr(method = 'pearson'))

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

De esta manera confirmamos que los valores son iguales

AdemÃ¡s, es posible utilizar la informaciÃ³n mutua para ver si dos variables comparten informaciÃ³n o son totalmente independientes.

In [ ]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import OrdinalEncoder
targetData = data ['EnglishOccupation']
newData = OrdinalEncoder().fit_transform(data[['EnglishOccupation','SpanishOccupation','FrenchOccupation']])
importances = mutual_info_classif(newData, targetData)
print(importances)

targetData1 = data ['NewEnglishOccupation']
newData1 = OrdinalEncoder().fit_transform(data[['NewEnglishOccupation','NewSpanishOccupation','NewFrenchOccupation']])
importances1 = mutual_info_classif(newData1, targetData1)
print(importances1)

[1.56138975 1.56122678 1.56144407]
[1.56133543 1.56084653 1.5611453 ]

A continuaciÃ³n sabiendo que los valores de traduccines son iguales y que no nos aportan informaciÃ³n
esencial para nuestro dataset podemos eliminarlos.

In [ ]:
#data = data.drop(['EnglishOccupation', 'SpanishOccupation','FrenchOccupation', 'EnglishEducation', 'SpanishEducation', 'FrenchEducation', 'NewSpanishOccupation', 'NewFrenchOccupation', 'NewEnglishOccupation'], axis = 'columns')
data = data.drop(['SpanishOccupation','FrenchOccupation', 'SpanishEducation', 'FrenchEducation', 'NewSpanishOccupation', 'NewFrenchOccupation', 'NewEnglishOccupation'], axis = 'columns')

AdemÃ¡s podemos eliminar todas aquellas columnas que tampoco aportan para nuestro dataset

In [ ]:
data = data.drop(['BirthDate', 'Title', 'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDateDay', 'BirthDateMonth', 'BirthDateYear', 'AddressLine2', 'Suffix'] , axis = 'columns')
data.head()

,GeographyKey,CustomerAlternateKey,MaritalStatus,Gender,EmailAddress,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer,AgeCategory
CustomerKey,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,M,M,jon24@adventure-works.com,90000,2,0,Bachelors,Professional,1,0,3761 N. 14th St,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,58,1,40-60
11001,37,AW00011001,S,M,eugene10@adventure-works.com,60000,3,3,Bachelors,Professional,0,1,2243 W St.,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,59,1,40-60
11002,31,AW00011002,M,M,ruben35@adventure-works.com,60000,3,3,Bachelors,Professional,1,1,5844 Linden Land,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,59,1,40-60
11003,11,AW00011003,S,F,christy12@adventure-works.com,70000,0,0,Bachelors,Professional,0,1,1825 Village Pl.,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,56,1,40-60
11004,19,AW00011004,S,F,elizabeth5@adventure-works.com,80000,5,5,Bachelors,Professional,1,4,7553 Harness Circle,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,56,1,40-60

Si queremos incluso reducirlo aun mÃ¡s. Podemos incluso eliminar datos que aunque pueden aportar algo tampoco son esenciales, pues podemos sacar el conocimiento a partir de otros datos.

In [ ]:
data = data.drop(['CustomerAlternateKey', 'AddressLine1', 'EmailAddress', 'Phone'], axis = 'columns')
data.head()

,GeographyKey,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer,AgeCategory
CustomerKey,,,,,,,,,,,,,,,,
11000,26,M,M,90000,2,0,Bachelors,Professional,1,0,7/22/2005,1-2 Miles,Pacific,58,1,40-60
11001,37,S,M,60000,3,3,Bachelors,Professional,0,1,7/18/2005,0-1 Miles,Pacific,59,1,40-60
11002,31,M,M,60000,3,3,Bachelors,Professional,1,1,7/10/05,2-5 Miles,Pacific,59,1,40-60
11003,11,S,F,70000,0,0,Bachelors,Professional,0,1,7/1/05,5-10 Miles,Pacific,56,1,40-60
11004,19,S,F,80000,5,5,Bachelors,Professional,1,4,7/26/2005,1-2 Miles,Pacific,56,1,40-60

In [ ]:

data['DateFirstPurchase'] = data['DateFirstPurchase'].str.extract(r'(\d{2,4})$')  # Extraer el aÃ±o de 4 dÃ­gitos
data['DateFirstPurchase'] = data['DateFirstPurchase'].astype(float).dropna().astype(int)  # Convertir a entero y eliminar nulos

def formattedYear(year):
    if year < 100:  # Si el aÃ±o tiene 2 dÃ­gitos
        return 2000 + year if year <= 20 else 1900 + year
    return year

data['DateFirstPurchase'] = data['DateFirstPurchase'].apply(formattedYear)

data.head()

,GeographyKey,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer,AgeCategory
CustomerKey,,,,,,,,,,,,,,,,
11000,26,M,M,90000,2,0,Bachelors,Professional,1,0,2005,1-2 Miles,Pacific,58,1,40-60
11001,37,S,M,60000,3,3,Bachelors,Professional,0,1,2005,0-1 Miles,Pacific,59,1,40-60
11002,31,M,M,60000,3,3,Bachelors,Professional,1,1,2005,2-5 Miles,Pacific,59,1,40-60
11003,11,S,F,70000,0,0,Bachelors,Professional,0,1,2005,5-10 Miles,Pacific,56,1,40-60
11004,19,S,F,80000,5,5,Bachelors,Professional,1,4,2005,1-2 Miles,Pacific,56,1,40-60

In [ ]:
df = pd.DataFrame(data)

# Exportar a un archivo CSV
df.to_csv("MailCustomerCustom.csv", index=False, encoding="utf-8")